# Assignment 4 (Machine Learning)
> This assignment is solved by:-
* Name: Vishal Sehgal
* Group: CO11
* Roll Number: 102003265

### Question 1

In [1]:
import numpy as np
import pandas as pd

In [2]:
learning_rates = [0.0001, 0.001, 0.01, 0.1, 1, 10, 20, 50]
lambdas = [10e-15, 10e-10, 10e-5, 10e-3, 0, 1, 10, 20]

In [3]:
x = np.array([i*np.pi/180 for i in range(60,300,4)])
np.random.seed(42)
y = np.sin(x) + np.random.normal(0,0.15,len(x))
df= pd.DataFrame(np.column_stack([x,y]),columns=['x','y'])
for i in range(2,16):
    colname = 'x_%d'%i 
    df[colname] = df['x']**i
df.head()

,x,y,x_2,x_3,x_4,x_5,x_6,x_7,x_8,x_9,x_10,x_11,x_12,x_13,x_14,x_15
0,1.047198,0.940533,1.096623,1.148381,1.202581,1.259340,1.318778,1.381021,1.446202,1.514459,1.585938,1.660790,1.739176,1.821260,1.907219,1.997235
1,1.117011,0.878054,1.247713,1.393709,1.556788,1.738948,1.942424,2.169709,2.423588,2.707173,3.023942,3.377775,3.773011,4.214494,4.707635,5.258479
2,1.186824,1.024337,1.408551,1.671702,1.984016,2.354677,2.794587,3.316683,3.936319,4.671717,5.544505,6.580351,7.809718,9.268760,11.000386,13.055521
3,1.256637,1.179511,1.579137,1.984402,2.493673,3.133642,3.937850,4.948448,6.218404,7.814277,9.819710,12.339811,15.506664,19.486248,24.487142,30.771450
4,1.326450,0.935173,1.759470,2.333850,3.095735,4.106339,5.446854,7.224981,9.583578,12.712139,16.862020,22.366630,29.668222,39.353420,52.200353,69.241170

In [4]:
X = df.drop('y', axis=1)
y = df['y']

In [5]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.3, random_state=42)

In [7]:
X_train = np.array(X_train)
y_train = np.array(y_train)
X_test = np.array(X_test)
y_test = np.array(y_test)

In [8]:
X_train.shape

(42, 15)

In [9]:
beta = 1
beta *=2
beta

2

In [64]:
beta_mat = np.array([])

In [82]:
for z in range(len(learning_rates)):
    n = len(X_train)
    number_of_iterations = 100
    lam = lambdas[z]
    lr = learning_rates[z]
    beta0 = 0
    beta = np.zeros(X_train.shape[1])
    for itr in range(number_of_iterations):
        h = beta0*((1-(lr*lam)/n))
        s = 0
        d = lr/n
        for i in range(n):
            s += (beta0 - y_train[i])
            for l in range(1, X_train.shape[1]):
                s += (beta[l] * X_train[i,l])
        beta0 = h - d * s
        for j in range(len(beta)):
            h = beta[j] * (1-(lr*lam)/n)
            s = 0
            d = lr/n
            for i in range(n):
                s += (beta0 - y_train[i])
                for l in range(1, X_train.shape[1]):
                    s += (beta[l] * X_train[i, l])
                s *= X_train[i, j]
            beta[j] -= h - d * s
    if(z==0):
        beta_mat = np.concatenate((np.array(beta0).flatten(), beta))
    else:
        beta_mat = np.vstack((beta_mat, np.concatenate((np.array(beta0).flatten(), beta))))
print(beta_mat.shape)

(8, 16)

In [12]:
X_test = np.insert(X_test, 0, values=1, axis=1)

In [13]:
X_test

array([[ 1.        , -1.7034199 , -1.31365751, -1.05867178, -0.89285793,
        -0.78079937, -0.70090067, -0.64095326, -0.59404209, -0.55609958,
        -0.5246104 , -0.49793988, -0.47497778, -0.4549412 , -0.43726044,
        -0.42150985],
       [ 1.        , -1.41470466, -1.20179794, -1.01943343, -0.88000177,
        -0.77677941, -0.69968398, -0.64059349, -0.5939375 , -0.55606956,
        -0.52460186, -0.49793748, -0.47497711, -0.45494101, -0.43726039,
        -0.42150983],
       [ 1.        ,  0.37532981,  0.20507588,  0.03810149, -0.10361316,
        -0.21375802, -0.29421733, -0.34991708, -0.38627104, -0.40813393,
        -0.41948187, -0.42340906, -0.42224425, -0.41769754, -0.41099977,
        -0.40302083],
       [ 1.        ,  0.89501723,  0.84363424,  0.74523163,  0.62453597,
         0.49873713,  0.37784238,  0.26701503,  0.16847807,  0.08274625,
         0.00937944, -0.0525624 , -0.10424588, -0.14690173, -0.18173111,
        -0.20985424],
       [ 1.        , -0.95276028, -0.95634608, -0.90106513, -0.82656059,
        -0.75370289, -0.69001949, -0.636632  , -0.59233854, -0.55543143,
        -0.52434933, -0.49783818, -0.47493826, -0.45492587, -0.4372545 ,
        -0.42150755],
       [ 1.        ,  1.41470466,  1.58574261,  1.69975423,  1.7655305 ,
         1.79407054,  1.79464345,  1.77435245,  1.73854848,  1.69128716,
         1.63567788,  1.57413086,  1.50853075,  1.44036024,  1.37078992,
         1.30074489],
       [ 1.        ,  0.20210067,  0.01523421, -0.14904633, -0.2748466 ,
        -0.36236177, -0.41830902, -0.4505823 , -0.46612212, -0.47035726,
        -0.46727413, -0.45968235, -0.4495013 , -0.43800656, -0.42602214,
        -0.41406288],
       [ 1.        ,  1.06824638,  1.07949814,  1.03408524,  0.95282623,
         0.85259504,  0.74480778,  0.63667187,  0.53255303,  0.43496133,
         0.3452031 ,  0.26380683,  0.19080348,  0.12591316,  0.06867016,
         0.01850696],
       [ 1.        , -1.01050333, -0.99150194, -0.92031525, -0.83634185,
        -0.75841601, -0.69220428, -0.63761567, -0.59277152, -0.55561861,
        -0.52442908, -0.49787175, -0.47495224, -0.45493165, -0.43725687,
        -0.42150852],
       [ 1.        ,  1.5879338 ,  1.85612317,  2.07931841,  2.2599986 ,
         2.40495844,  2.52073198,  2.61260445,  2.68469343,  2.74021473,
         2.78171659,  2.81125276,  2.83050533,  2.84087183,  2.84352781,
         2.83947269],
       [ 1.        ,  0.95276028,  0.92097715,  0.83839407,  0.72865951,
         0.60908694,  0.49034005,  0.37839755,  0.27628165,  0.18521673,
         0.1053582 ,  0.03624636, -0.02291059, -0.07306028, -0.11519736,
        -0.15029806],
       [ 1.        ,  1.18373247,  1.24313272,  1.24260417,  1.19938987,
         1.129068  ,  1.04303754,  0.94911877,  0.85256742,  0.75687365,
         0.66431413,  0.57632526,  0.49375781,  0.4170533 ,  0.3463681 ,
         0.28166184],
       [ 1.        ,  0.08661457, -0.10493493, -0.26150979, -0.37251931,
        -0.44280791, -0.48205342, -0.49964324, -0.50303922, -0.49764227,
        -0.48714819, -0.47398474, -0.45969022, -0.44520271, -0.43106699,
        -0.4175768 ],
       [ 1.        , -1.53019075, -1.25037695, -1.03782667, -0.88646941,
        -0.77893783, -0.7003775 , -0.64081009, -0.5940037 , -0.55608944,
        -0.52460775, -0.4979392 , -0.47497761, -0.45494116, -0.43726043,
        -0.42150984],
       [ 1.        ,  1.29921857,  1.41188087,  1.46435809,  1.4697948 ,
         1.44174493,  1.39085365,  1.32489419,  1.24946001,  1.16858261,
         1.085178  ,  1.00135619,  0.91863658,  0.83810055,  0.76050145,
         0.68634552],
       [ 1.        , -0.72178809, -0.80293866, -0.80930254, -0.77555676,
        -0.72678254, -0.67633183, -0.62986347, -0.58906203, -0.5538716 ,
        -0.5236166 , -0.49749769, -0.47478145, -0.45485419, -0.43722194,
        -0.42149284],
       [ 1.        , -1.24147552, -1.11934145, -0.98408074, -0.86591542,
        -0.77144882, -0.69774049, -0.63990426, -0.5936982 , -0.55598784,
        -0.52457432, -0.49792829, -0.47497407, -0.45494002, -0.43726006,
        -0.42150973],
       [ 1.        , -1.35696161, -1.17559084, -1.00873515, -0.87594881,
        -0.77532321, -0.69918059, -0.64042446, -0.59388201, -0.55605167,
        -0.52459618, -0.49793569, -0.47497655, -0.45494084, -0.43726033,
        -0.42150981]])

In [85]:
for beta in beta_mat:
    y_pred = X_test.dot(beta)
    err = y_test - y_pred
    square_error=np.power(err,2)
    sum_square_error=np.sum(square_error)
    mean_square_error=sum_square_error/len(y_pred)
    rms_error=np.sqrt(mean_square_error)
    y_mean=np.mean(y_test)
    total_variance=np.sum((y_test-y_mean)**2)
    print(1-sum_square_error/total_variance)

-0.0007670795701477662
-0.0008683635819561886
-0.0016467393646784068
-0.0001541312417838725
0.024529460562747962
-3.956670783926992e+192
-7.592652731718333e+275
-inf

<ipython-input-85-0083cc4984c4>:4: RuntimeWarning: overflow encountered in power
  square_error=np.power(err,2)

In [86]:
# Hence the best value of lambda comes out to be 10e-3 and alpha to be 1 in this case

### Question 2

In [87]:
df = pd.read_csv('./Hitters.csv')

In [88]:
df.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,A,E,446,33,20,NaN,A
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AtBat      322 non-null    int64
 1   Hits       322 non-null    int64
 2   HmRun      322 non-null    int64
 3   Runs       322 non-null    int64
 4   RBI        322 non-null    int64
 5   Walks      322 non-null    int64
 6   Years      322 non-null    int64
 7   CAtBat     322 non-null    int64
 8   CHits      322 non-null    int64
 9   CHmRun     322 non-null    int64
 10  CRuns      322 non-null    int64
 11  CRBI       322 non-null    int64
 12  CWalks     322 non-null    int64
 13  League     322 non-null    object
 14  Division   322 non-null    object
 15  PutOuts    322 non-null    int64
 16  Assists    322 non-null    int64
 17  Errors     322 non-null    int64
 18  Salary     263 non-null    float64
 19  NewLeague  322 non-null    object
dtypes: float64(1), int64(16), object(3)
memory usage: 50.4+ KB

> a

In [94]:
# Handling the null values in Salary
df.loc[df['Salary'].isnull(), 'Salary'] = df['Salary'].median()

In [98]:
len(df[df['Salary'].isnull()])

0

In [99]:
# Handling Noise
df.describe()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors,Salary
count,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.00000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000
mean,380.928571,101.024845,10.770186,50.909938,48.027950,38.742236,7.444099,2648.68323,717.571429,69.490683,358.795031,330.118012,260.239130,288.937888,106.913043,8.040373,515.600953
std,153.404981,46.454741,8.709037,26.024095,26.166895,21.639327,4.926087,2324.20587,654.472627,86.266061,334.105886,333.219617,267.058085,280.704614,136.854876,6.368359,409.817459
min,16.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,19.00000,4.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,67.500000
25%,255.250000,64.000000,4.000000,30.250000,28.000000,22.000000,4.000000,816.75000,209.000000,14.000000,100.250000,88.750000,67.250000,109.250000,7.000000,3.000000,226.250000
50%,379.500000,96.000000,8.000000,48.000000,44.000000,35.000000,6.000000,1928.00000,508.000000,37.500000,247.000000,220.500000,170.500000,212.000000,39.500000,6.000000,425.000000
75%,512.000000,137.000000,16.000000,69.000000,64.750000,53.000000,11.000000,3924.25000,1059.250000,90.000000,526.250000,426.250000,339.250000,325.000000,166.000000,11.000000,700.000000
max,687.000000,238.000000,40.000000,130.000000,121.000000,105.000000,24.000000,14053.00000,4256.000000,548.000000,2165.000000,1659.000000,1566.000000,1378.000000,492.000000,32.000000,2460.000000

In [104]:
df.loc[df['Salary']>=1000, 'Salary'] = df['Salary'].median()

In [105]:
# Performing Categorical to Numerical Encoding
from sklearn.preprocessing import LabelEncoder
model = LabelEncoder()
df['League'] = model.fit_transform(df['League'])

In [106]:
model = LabelEncoder()
df['Division'] = model.fit_transform(df['Division'])

In [107]:
model = LabelEncoder()
df['NewLeague'] = model.fit_transform(df['NewLeague'])

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AtBat      322 non-null    int64
 1   Hits       322 non-null    int64
 2   HmRun      322 non-null    int64
 3   Runs       322 non-null    int64
 4   RBI        322 non-null    int64
 5   Walks      322 non-null    int64
 6   Years      322 non-null    int64
 7   CAtBat     322 non-null    int64
 8   CHits      322 non-null    int64
 9   CHmRun     322 non-null    int64
 10  CRuns      322 non-null    int64
 11  CRBI       322 non-null    int64
 12  CWalks     322 non-null    int64
 13  League     322 non-null    int64
 14  Division   322 non-null    int64
 15  PutOuts    322 non-null    int64
 16  Assists    322 non-null    int64
 17  Errors     322 non-null    int64
 18  Salary     322 non-null    float64
 19  NewLeague  322 non-null    int64
dtypes: float64(1), int64(19)
memory usage: 50.4 KB

> b

In [109]:
X = df.drop('Hits', axis=1)
y = df['Hits']

In [110]:
from sklearn.preprocessing import StandardScaler
model = StandardScaler()
X_scaled = model.fit_transform(X)

In [112]:
X_scaled = np.insert(X_scaled, 0, values=1, axis=1)

In [113]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=42)

> c & d

In [123]:
# Ridge Regression
lamba=0.5748
A=X_train.T.dot(X_train)
B=A+lamba*np.eye(A.shape[0])
C=np.linalg.inv(B)
D=C.dot(X_train.T)
beta=D.dot(y_train)

In [124]:
beta

array([ 1.00601553e+02,  2.87895206e+01, -7.18692672e+00,  1.63469927e+01,
        9.65619697e+00, -3.93284870e+00,  2.75276160e-01, -2.59468058e+01,
        3.86196504e+01, -3.33322879e-01, -1.55713952e+01, -1.10529705e+00,
        4.05549552e+00,  2.57215205e-01, -8.30327037e-02,  2.64803412e-01,
        1.41621364e+00, -1.99781591e+00,  1.21424507e+00, -1.62158856e-01])

In [125]:
y_pred = X_test.dot(beta)
y_pred = y_pred.round()

In [126]:
error=y_test-y_pred
square_error=np.power(error,2)
sum_square_error=np.sum(square_error)
mean_square_error=sum_square_error/len(y_pred)
print(mean_square_error)
rms_error=np.sqrt(mean_square_error)
print(rms_error)
y_mean=np.mean(y_test)
total_variance=np.sum((y_test-y_mean)**2)
print(1-sum_square_error/total_variance)

78.0246913580247
8.833158628600795
0.9627947757446241

In [127]:
# Lasso Regression
from sklearn.linear_model import Lasso
from sklearn import metrics
lasso = Lasso(alpha=0.5748, normalize=True)
model = lasso.fit(X_train, y_train)
y_pred = model.predict(X_test)
print(metrics.r2_score(y_test, y_pred))

0.8975715091535226

In [128]:
# Ridge Regression performs better than Lasso Regression for the given dataset.

### Question 3

In [129]:
from sklearn.linear_model import RidgeCV, LassoCV

In [130]:
from sklearn.datasets import load_boston

In [144]:
X, y = load_boston(return_X_y=True)

In [146]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [147]:
model_ridge = RidgeCV(alphas=[1e-3, 1e-2, 1e-1, 1])

In [148]:
model_lasso = LassoCV(alphas=[1e-3, 1e-2, 1e-1, 1])

In [149]:
model_ridge.fit(X_train, y_train)

RidgeCV(alphas=array([0.001, 0.01 , 0.1  , 1.   ]))

In [151]:
preds = model_ridge.predict(X_test)

In [154]:
metrics.r2_score(y_test, preds)

0.7111350775947027

In [155]:
model_lasso.fit(X_train, y_train)

LassoCV(alphas=[0.001, 0.01, 0.1, 1])

In [156]:
preds = model_lasso.predict(X_test)

In [157]:
metrics.r2_score(y_test, preds)

0.7110394345928663