# Assignment 7 (Machine Learning)
> This assignment is solved by:-
* Name: Vishal Sehgal
* Group: CO11
* Roll Number: 102003265

### Question 1

In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('./weather.csv')

In [4]:
df_test = pd.read_csv('./weather_test.csv')

In [5]:
df.head()

    Outlook  Temp Humidity  Windy  Play
0     rainy   hot     high      0     0
1     rainy   hot     high      1     0
2  overcast   hot     high      0     1
3     sunny  mild     high      0     1
4     sunny  cool   normal      0     1

In [8]:
from sklearn.preprocessing import LabelEncoder

In [10]:
encoder_outlook = LabelEncoder()
encoder_outlook.fit(df['Outlook'])
df['Outlook'] = encoder_outlook.transform(df['Outlook'])
df_test['Outlook'] = encoder_outlook.transform(df_test['Outlook'])

In [11]:
encoder_temp = LabelEncoder()
encoder_temp.fit(df['Temp'])
df['Temp'] = encoder_temp.transform(df['Temp'])
df_test['Temp'] = encoder_temp.transform(df_test['Temp'])

In [12]:
encoder_humidity = LabelEncoder()
encoder_humidity.fit(df['Humidity'])
df['Humidity'] = encoder_humidity.transform(df['Humidity'])
df_test['Humidity'] = encoder_humidity.transform(df_test['Humidity'])

In [14]:
X_train = df.drop('Play', axis=1)
y_train = df['Play']
X_test = df_test.drop('Play', axis=1)
y_test = df_test['Play']

In [21]:
model_gini = DecisionTreeClassifier(criterion='gini')
model_gini.fit(X_train, y_train)
pred_gini = model_gini.predict(X_test)
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
print(accuracy_score(y_test, pred_gini) * 100)
print(confusion_matrix(y_test, pred_gini))
print(classification_report(y_test, pred_gini))

100.0
[[1 0]
 [0 1]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         1
           1       1.00      1.00      1.00         1

    accuracy                           1.00         2
   macro avg       1.00      1.00      1.00         2
weighted avg       1.00      1.00      1.00         2

In [22]:
model_entropy = DecisionTreeClassifier(criterion='entropy')
model_entropy.fit(X_train, y_train)
pred_entropy = model_entropy.predict(X_test)
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
print(accuracy_score(y_test, pred_entropy) * 100)
print(confusion_matrix(y_test, pred_entropy))
print(classification_report(y_test, pred_entropy))

100.0
[[1 0]
 [0 1]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         1
           1       1.00      1.00      1.00         1

    accuracy                           1.00         2
   macro avg       1.00      1.00      1.00         2
weighted avg       1.00      1.00      1.00         2

### Question 2

In [23]:
from sklearn.datasets import load_boston

In [33]:
X, y = load_boston(return_X_y=True)

In [34]:
X = pd.DataFrame(X, columns=load_boston()['feature_names'])

In [35]:
df = X
df['Target'] = y
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [50]:
def find_corr(col1, col2):
    sig_12 = np.cov(col1, col2)[0][1]
    var_1 = np.std(col1)
    var_2 = np.std(col2)
    return sig_12/(var_1 * var_2)

In [51]:
def create_corr_df(df):
    final = []
    for col1 in df.columns:
        sub_final = []
        for col2 in df.columns:
            sub_final.append(find_corr(df[col1], df[col2]))
        final.append(sub_final)
    return pd.DataFrame(final, index=df.columns, columns=df.columns)

In [53]:
corr = create_corr_df(df)

In [60]:
corr[np.abs(corr)>0.75]

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Target
CRIM,1.00198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZN,NaN,1.00198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
INDUS,NaN,NaN,1.001980,NaN,0.765164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CHAS,NaN,NaN,NaN,1.00198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NOX,NaN,NaN,0.765164,NaN,1.001980,NaN,NaN,-0.770753,NaN,NaN,NaN,NaN,NaN,NaN
RM,NaN,NaN,NaN,NaN,NaN,1.00198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AGE,NaN,NaN,NaN,NaN,NaN,NaN,1.00198,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DIS,NaN,NaN,NaN,NaN,-0.770753,NaN,NaN,1.001980,NaN,NaN,NaN,NaN,NaN,NaN
RAD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.001980,0.912031,NaN,NaN,NaN,NaN
TAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.912031,1.001980,NaN,NaN,NaN,NaN
PTRATIO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00198,NaN,NaN,NaN
B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00198,NaN,NaN
LSTAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00198,NaN
Target,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00198

> These columns are highly correlated:-
* NOX & INDUS
* DIS & NOX
* TAX & RAD

In [61]:
corr['Target']

CRIM      -0.389074
ZN         0.361159
INDUS     -0.484683
CHAS       0.175607
NOX       -0.428167
RM         0.696737
AGE       -0.377701
DIS        0.250424
RAD       -0.382382
TAX       -0.469464
PTRATIO   -0.508792
B          0.334121
LSTAT     -0.739123
Target     1.001980
Name: Target, dtype: float64

> NOX will be removed. <br>
> RAD will be removed.

In [63]:
df.drop(['NOX', 'RAD'], axis=1, inplace=True)

In [64]:
X = df.drop('Target', axis=1)
y = df['Target']

In [65]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [67]:
from sklearn.svm import SVR

In [69]:
model = SVR()
model.fit(X_train, y_train)
preds = model.predict(X_test)

In [70]:
from sklearn.metrics import r2_score
print(r2_score(y_test, preds))

0.29670373472427747

In [71]:
from sklearn.model_selection import GridSearchCV
param_grid = {
    'C': [0.1, 1, 10, 100, 1000], 
    'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
    'kernel': ['rbf']
} 
grid = GridSearchCV(SVR(), param_grid, refit = True, verbose = 3)
grid.fit(X_train, y_train)

Fitting 5 folds for each of 25 candidates, totalling 125 fits
[CV 1/5] END .....................C=0.1, gamma=1, kernel=rbf; total time=   0.0s
[CV 2/5] END .....................C=0.1, gamma=1, kernel=rbf; total time=   0.0s
[CV 3/5] END .....................C=0.1, gamma=1, kernel=rbf; total time=   0.0s
[CV 4/5] END .....................C=0.1, gamma=1, kernel=rbf; total time=   0.0s
[CV 5/5] END .....................C=0.1, gamma=1, kernel=rbf; total time=   0.0s
[CV 1/5] END ...................C=0.1, gamma=0.1, kernel=rbf; total time=   0.0s
[CV 2/5] END ...................C=0.1, gamma=0.1, kernel=rbf; total time=   0.0s
[CV 3/5] END ...................C=0.1, gamma=0.1, kernel=rbf; total time=   0.0s
[CV 4/5] END ...................C=0.1, gamma=0.1, kernel=rbf; total time=   0.0s
[CV 5/5] END ...................C=0.1, gamma=0.1, kernel=rbf; total time=   0.0s
[CV 1/5] END ..................C=0.1, gamma=0.01, kernel=rbf; total time=   0.0s
[CV 2/5] END ..................C=0.1, gamma=0.01, kernel=rbf; total time=   0.0s
[CV 3/5] END ..................C=0.1, gamma=0.01, kernel=rbf; total time=   0.0s
[CV 4/5] END ..................C=0.1, gamma=0.01, kernel=rbf; total time=   0.0s
[CV 5/5] END ..................C=0.1, gamma=0.01, kernel=rbf; total time=   0.0s
[CV 1/5] END .................C=0.1, gamma=0.001, kernel=rbf; total time=   0.0s
[CV 2/5] END .................C=0.1, gamma=0.001, kernel=rbf; total time=   0.0s
[CV 3/5] END .................C=0.1, gamma=0.001, kernel=rbf; total time=   0.0s
[CV 4/5] END .................C=0.1, gamma=0.001, kernel=rbf; total time=   0.0s
[CV 5/5] END .................C=0.1, gamma=0.001, kernel=rbf; total time=   0.0s
[CV 1/5] END ................C=0.1, gamma=0.0001, kernel=rbf; total time=   0.0s
[CV 2/5] END ................C=0.1, gamma=0.0001, kernel=rbf; total time=   0.0s
[CV 3/5] END ................C=0.1, gamma=0.0001, kernel=rbf; total time=   0.0s
[CV 4/5] END ................C=0.1, gamma=0.0001, kernel=rbf; total time=   0.0s
[CV 5/5] END ................C=0.1, gamma=0.0001, kernel=rbf; total time=   0.0s
[CV 1/5] END .......................C=1, gamma=1, kernel=rbf; total time=   0.0s
[CV 2/5] END .......................C=1, gamma=1, kernel=rbf; total time=   0.0s
[CV 3/5] END .......................C=1, gamma=1, kernel=rbf; total time=   0.0s
[CV 4/5] END .......................C=1, gamma=1, kernel=rbf; total time=   0.0s
[CV 5/5] END .......................C=1, gamma=1, kernel=rbf; total time=   0.0s
[CV 1/5] END .....................C=1, gamma=0.1, kernel=rbf; total time=   0.0s
[CV 2/5] END .....................C=1, gamma=0.1, kernel=rbf; total time=   0.0s
[CV 3/5] END .....................C=1, gamma=0.1, kernel=rbf; total time=   0.0s
[CV 4/5] END .....................C=1, gamma=0.1, kernel=rbf; total time=   0.0s
[CV 5/5] END .....................C=1, gamma=0.1, kernel=rbf; total time=   0.0s
[CV 1/5] END ....................C=1, gamma=0.01, kernel=rbf; total time=   0.0s
[CV 2/5] END ....................C=1, gamma=0.01, kernel=rbf; total time=   0.0s
[CV 3/5] END ....................C=1, gamma=0.01, kernel=rbf; total time=   0.0s
[CV 4/5] END ....................C=1, gamma=0.01, kernel=rbf; total time=   0.0s
[CV 5/5] END ....................C=1, gamma=0.01, kernel=rbf; total time=   0.0s
[CV 1/5] END ...................C=1, gamma=0.001, kernel=rbf; total time=   0.0s
[CV 2/5] END ...................C=1, gamma=0.001, kernel=rbf; total time=   0.0s
[CV 3/5] END ...................C=1, gamma=0.001, kernel=rbf; total time=   0.0s
[CV 4/5] END ...................C=1, gamma=0.001, kernel=rbf; total time=   0.0s
[CV 5/5] END ...................C=1, gamma=0.001, kernel=rbf; total time=   0.0s
[CV 1/5] END ..................C=1, gamma=0.0001, kernel=rbf; total time=   0.0s
[CV 2/5] END ..................C=1, gamma=0.0001, kernel=rbf; total time=   0.0s
[CV 3/5] END ..................C=1, gamma=0.0001, kernel=rbf; total time=   0.0s
[CV 4/5] END ..................C=1, gamma=0.0001, kernel=rbf; total time=   0.0s
[CV 5/5] END ..................C=1, gamma=0.0001, kernel=rbf; total time=   0.0s
[CV 1/5] END ......................C=10, gamma=1, kernel=rbf; total time=   0.0s
[CV 2/5] END ......................C=10, gamma=1, kernel=rbf; total time=   0.0s
[CV 3/5] END ......................C=10, gamma=1, kernel=rbf; total time=   0.0s
[CV 4/5] END ......................C=10, gamma=1, kernel=rbf; total time=   0.0s
[CV 5/5] END ......................C=10, gamma=1, kernel=rbf; total time=   0.0s
[CV 1/5] END ....................C=10, gamma=0.1, kernel=rbf; total time=   0.0s
[CV 2/5] END ....................C=10, gamma=0.1, kernel=rbf; total time=   0.0s
[CV 3/5] END ....................C=10, gamma=0.1, kernel=rbf; total time=   0.0s
[CV 4/5] END ....................C=10, gamma=0.1, kernel=rbf; total time=   0.0s
[CV 5/5] END ....................C=10, gamma=0.1, kernel=rbf; total time=   0.0s
[CV 1/5] END ...................C=10, gamma=0.01, kernel=rbf; total time=   0.0s
[CV 2/5] END ...................C=10, gamma=0.01, kernel=rbf; total time=   0.0s
[CV 3/5] END ...................C=10, gamma=0.01, kernel=rbf; total time=   0.0s
[CV 4/5] END ...................C=10, gamma=0.01, kernel=rbf; total time=   0.0s
[CV 5/5] END ...................C=10, gamma=0.01, kernel=rbf; total time=   0.0s
[CV 1/5] END ..................C=10, gamma=0.001, kernel=rbf; total time=   0.0s
[CV 2/5] END ..................C=10, gamma=0.001, kernel=rbf; total time=   0.0s
[CV 3/5] END ..................C=10, gamma=0.001, kernel=rbf; total time=   0.0s
[CV 4/5] END ..................C=10, gamma=0.001, kernel=rbf; total time=   0.0s
[CV 5/5] END ..................C=10, gamma=0.001, kernel=rbf; total time=   0.0s
[CV 1/5] END .................C=10, gamma=0.0001, kernel=rbf; total time=   0.0s
[CV 2/5] END .................C=10, gamma=0.0001, kernel=rbf; total time=   0.0s
[CV 3/5] END .................C=10, gamma=0.0001, kernel=rbf; total time=   0.0s
[CV 4/5] END .................C=10, gamma=0.0001, kernel=rbf; total time=   0.0s
[CV 5/5] END .................C=10, gamma=0.0001, kernel=rbf; total time=   0.0s
[CV 1/5] END .....................C=100, gamma=1, kernel=rbf; total time=   0.0s
[CV 2/5] END .....................C=100, gamma=1, kernel=rbf; total time=   0.0s
[CV 3/5] END .....................C=100, gamma=1, kernel=rbf; total time=   0.0s
[CV 4/5] END .....................C=100, gamma=1, kernel=rbf; total time=   0.0s
[CV 5/5] END .....................C=100, gamma=1, kernel=rbf; total time=   0.1s
[CV 1/5] END ...................C=100, gamma=0.1, kernel=rbf; total time=   0.0s
[CV 2/5] END ...................C=100, gamma=0.1, kernel=rbf; total time=   0.0s
[CV 3/5] END ...................C=100, gamma=0.1, kernel=rbf; total time=   0.0s
[CV 4/5] END ...................C=100, gamma=0.1, kernel=rbf; total time=   0.0s
[CV 5/5] END ...................C=100, gamma=0.1, kernel=rbf; total time=   0.0s
[CV 1/5] END ..................C=100, gamma=0.01, kernel=rbf; total time=   0.0s
[CV 2/5] END ..................C=100, gamma=0.01, kernel=rbf; total time=   0.0s
[CV 3/5] END ..................C=100, gamma=0.01, kernel=rbf; total time=   0.0s
[CV 4/5] END ..................C=100, gamma=0.01, kernel=rbf; total time=   0.0s
[CV 5/5] END ..................C=100, gamma=0.01, kernel=rbf; total time=   0.0s
[CV 1/5] END .................C=100, gamma=0.001, kernel=rbf; total time=   0.0s
[CV 2/5] END .................C=100, gamma=0.001, kernel=rbf; total time=   0.0s
[CV 3/5] END .................C=100, gamma=0.001, kernel=rbf; total time=   0.0s
[CV 4/5] END .................C=100, gamma=0.001, kernel=rbf; total time=   0.0s
[CV 5/5] END .................C=100, gamma=0.001, kernel=rbf; total time=   0.0s
[CV 1/5] END ................C=100, gamma=0.0001, kernel=rbf; total time=   0.0s
[CV 2/5] END ................C=100, gamma=0.0001, kernel=rbf; total time=   0.0s
[CV 3/5] END ................C=100, gamma=0.0001, kernel=rbf; total time=   0.0s
[CV 4/5] END ................C=100, gamma=0.0001, kernel=rbf; total time=   0.0s
[CV 5/5] END ................C=100, gamma=0.0001, kernel=rbf; total time=   0.0s
[CV 1/5] END ....................C=1000, gamma=1, kernel=rbf; total time=   0.0s
[CV 2/5] END ....................C=1000, gamma=1, kernel=rbf; total time=   0.0s
[CV 3/5] END ....................C=1000, gamma=1, kernel=rbf; total time=   0.0s
[CV 4/5] END ....................C=1000, gamma=1, kernel=rbf; total time=   0.0s
[CV 5/5] END ....................C=1000, gamma=1, kernel=rbf; total time=   0.0s
[CV 1/5] END ..................C=1000, gamma=0.1, kernel=rbf; total time=   0.0s
[CV 2/5] END ..................C=1000, gamma=0.1, kernel=rbf; total time=   0.0s
[CV 3/5] END ..................C=1000, gamma=0.1, kernel=rbf; total time=   0.0s
[CV 4/5] END ..................C=1000, gamma=0.1, kernel=rbf; total time=   0.0s
[CV 5/5] END ..................C=1000, gamma=0.1, kernel=rbf; total time=   0.0s
[CV 1/5] END .................C=1000, gamma=0.01, kernel=rbf; total time=   0.0s
[CV 2/5] END .................C=1000, gamma=0.01, kernel=rbf; total time=   0.0s
[CV 3/5] END .................C=1000, gamma=0.01, kernel=rbf; total time=   0.0s
[CV 4/5] END .................C=1000, gamma=0.01, kernel=rbf; total time=   0.0s
[CV 5/5] END .................C=1000, gamma=0.01, kernel=rbf; total time=   0.0s
[CV 1/5] END ................C=1000, gamma=0.001, kernel=rbf; total time=   0.0s
[CV 2/5] END ................C=1000, gamma=0.001, kernel=rbf; total time=   0.0s
[CV 3/5] END ................C=1000, gamma=0.001, kernel=rbf; total time=   0.1s
[CV 4/5] END ................C=1000, gamma=0.001, kernel=rbf; total time=   0.0s
[CV 5/5] END ................C=1000, gamma=0.001, kernel=rbf; total time=   0.0s
[CV 1/5] END ...............C=1000, gamma=0.0001, kernel=rbf; total time=   0.0s
[CV 2/5] END ...............C=1000, gamma=0.0001, kernel=rbf; total time=   0.1s
[CV 3/5] END ...............C=1000, gamma=0.0001, kernel=rbf; total time=   0.1s
[CV 4/5] END ...............C=1000, gamma=0.0001, kernel=rbf; total time=   0.1s
[CV 5/5] END ...............C=1000, gamma=0.0001, kernel=rbf; total time=   0.1s

GridSearchCV(estimator=SVR(),
             param_grid={'C': [0.1, 1, 10, 100, 1000],
                         'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
                         'kernel': ['rbf']},
             verbose=3)

In [72]:
print(grid.best_params_)
print(grid.best_estimator_)

{'C': 1000, 'gamma': 0.0001, 'kernel': 'rbf'}
SVR(C=1000, gamma=0.0001)

In [73]:
model = SVR(C=100, gamma=0.0001)
model.fit(X_train, y_train)
preds = model.predict(X_test)

In [74]:
print(r2_score(y_test, preds))

0.7291662159206908

### Question 3

In [75]:
df = pd.read_csv('Mall_Customers.csv')

In [79]:
df['Gender'] = pd.get_dummies(df['Gender'], drop_first=True)

In [80]:
df.head()

   CustomerID  Gender  Age  Annual Income  Spending Score
0           1       1   19             15              39
1           2       1   21             15              81
2           3       0   20             16               6
3           4       0   23             16              77
4           5       0   31             17              40

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerID      200 non-null    int64
 1   Gender          200 non-null    uint8
 2   Age             200 non-null    int64
 3   Annual Income   200 non-null    int64
 4   Spending Score  200 non-null    int64
dtypes: int64(4), uint8(1)
memory usage: 6.6 KB

In [114]:
from sklearn.cluster import KMeans

In [115]:
from sklearn.metrics.cluster import silhouette_score, davies_bouldin_score

In [117]:
final_params = []
for i in range(2, 11):
    kmeans = KMeans(n_clusters=i, random_state=42).fit(df)
    eval_params = {}
    eval_params['silhouette_score'] = silhouette_score(df, kmeans.labels_)
    eval_params['davies_bouldin_score'] = davies_bouldin_score(df, kmeans.labels_)
    final_params.append(eval_params)

In [118]:
eval = pd.DataFrame(final_params)

In [119]:
print(eval)

   silhouette_score  davies_bouldin_score
0          0.479305              0.765851
1          0.376680              0.898239
2          0.422453              0.858174
3          0.423095              0.861161
4          0.409528              0.792763
5          0.403771              0.804959
6          0.405726              0.816040
7          0.400579              0.836133
8          0.392417              0.875777

In [120]:
eval.to_csv('kmeans_eval_params.csv')

### Question 4

In [121]:
from sklearn.cluster import AgglomerativeClustering

In [122]:
final_params = []
for i in range(2, 11):
    kmeans = AgglomerativeClustering(n_clusters=i).fit(df)
    eval_params = {}
    eval_params['silhouette_score'] = silhouette_score(df, kmeans.labels_)
    eval_params['davies_bouldin_score'] = davies_bouldin_score(df, kmeans.labels_)
    final_params.append(eval_params)

In [123]:
eval = pd.DataFrame(final_params)

In [124]:
eval

   silhouette_score  davies_bouldin_score
0          0.468496              0.784831
1          0.330734              0.922214
2          0.390706              0.880420
3          0.395157              0.879716
4          0.401175              0.847406
5          0.384148              0.796101
6          0.381339              0.823535
7          0.378275              0.876554
8          0.368387              0.902928

In [125]:
eval.to_csv('hierarchical_eval_params.csv')

### Question 5

In [126]:
from sklearn.datasets import load_diabetes

In [130]:
X, y = load_diabetes(return_X_y=True)

In [131]:
X = pd.DataFrame(X, columns=load_diabetes()['feature_names'])

In [132]:
df = X
df['Target'] = y

In [134]:
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [135]:
df.describe()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Target
count,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,442.000000
mean,-3.634285e-16,1.308343e-16,-8.045349e-16,1.281655e-16,-8.835316e-17,1.327024e-16,-4.574646e-16,3.777301e-16,-3.830854e-16,-3.412882e-16,152.133484
std,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,77.093005
min,-1.072256e-01,-4.464164e-02,-9.027530e-02,-1.123996e-01,-1.267807e-01,-1.156131e-01,-1.023071e-01,-7.639450e-02,-1.260974e-01,-1.377672e-01,25.000000
25%,-3.729927e-02,-4.464164e-02,-3.422907e-02,-3.665645e-02,-3.424784e-02,-3.035840e-02,-3.511716e-02,-3.949338e-02,-3.324879e-02,-3.317903e-02,87.000000
50%,5.383060e-03,-4.464164e-02,-7.283766e-03,-5.670611e-03,-4.320866e-03,-3.819065e-03,-6.584468e-03,-2.592262e-03,-1.947634e-03,-1.077698e-03,140.500000
75%,3.807591e-02,5.068012e-02,3.124802e-02,3.564384e-02,2.835801e-02,2.984439e-02,2.931150e-02,3.430886e-02,3.243323e-02,2.791705e-02,211.500000
max,1.107267e-01,5.068012e-02,1.705552e-01,1.320442e-01,1.539137e-01,1.987880e-01,1.811791e-01,1.852344e-01,1.335990e-01,1.356118e-01,346.000000

In [136]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     442 non-null    float64
 1   sex     442 non-null    float64
 2   bmi     442 non-null    float64
 3   bp      442 non-null    float64
 4   s1      442 non-null    float64
 5   s2      442 non-null    float64
 6   s3      442 non-null    float64
 7   s4      442 non-null    float64
 8   s5      442 non-null    float64
 9   s6      442 non-null    float64
 10  Target  442 non-null    float64
dtypes: float64(11)
memory usage: 38.1 KB

In [137]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [141]:
from sklearn.neural_network import MLPRegressor

In [158]:
from sklearn.metrics import mean_squared_error

In [162]:
layers = np.arange(5, 20)
res = []
for l in layers:
    model = MLPRegressor(hidden_layer_sizes=(10, l), activation='relu')
    model.fit(X_train, y_train)
    preds = model.predict(X_test)
    sub = []
    sub.append(r2_score(y_test, preds))
    sub.append(np.sqrt(mean_squared_error(y_test, preds)))
    res.append(sub)
print(res)

/opt/anaconda3/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

[[0.9997216543541945, 1.2143794588252035], [0.9999721059815634, 0.3844304131478281], [0.9998727725489593, 0.8210178695924486], [0.9999966031024521, 0.1341539365162211], [0.9998458944300014, 0.903589893228253], [0.9999467100377579, 0.5313551605386821], [0.9999822675788321, 0.30651110618670574], [0.9999941138475629, 0.17659481540246252], [0.9999888387951423, 0.2431743346497414], [0.9999337306045085, 0.5925414024323041], [0.9998674430371032, 0.8380375318263765], [0.9999533622377459, 0.4970854470145492], [0.9999754223666872, 0.3608545841617847], [0.9999449268897872, 0.5401719126075983], [0.9997422170330993, 1.168663029629533]]

In [165]:
res = pd.DataFrame(res, index=np.arange(5, 20), columns=['r2_score', 'rmse'])

In [168]:
res[res['rmse'] == np.min(res['rmse'])]

   r2_score      rmse
8  0.999997  0.134154

In [170]:
model = MLPRegressor(hidden_layer_sizes=(10, 8), activation='relu')
model.fit(X_train, y_train)

/opt/anaconda3/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPRegressor(hidden_layer_sizes=(10, 8))

In [184]:
weights = model.coefs_

In [194]:
data = pd.DataFrame(weights)

In [195]:
data.to_csv('assig_7_ann_q5_weights.csv')

### Question 6

In [196]:
from sklearn.datasets import load_breast_cancer

In [197]:
X, y = load_breast_cancer(return_X_y=True)

In [201]:
X = pd.DataFrame(X, columns=load_breast_cancer()['feature_names'])

In [202]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [203]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [204]:
from sklearn.neural_network import MLPClassifier

In [206]:
layers = np.arange(5, 20)
res = []
for l in layers:
    model = MLPClassifier(hidden_layer_sizes=(l, 2), activation='relu', max_iter=1000)
    model.fit(X_train, y_train)
    preds = model.predict(X_test)
    res.append(accuracy_score(y_test, preds))
print(res)

/opt/anaconda3/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(

[0.9649122807017544, 0.9649122807017544, 0.9824561403508771, 0.9736842105263158, 0.9736842105263158, 0.9736842105263158, 0.9824561403508771, 0.9736842105263158, 0.956140350877193, 0.9824561403508771, 0.956140350877193, 0.9824561403508771, 0.9649122807017544, 0.9736842105263158, 0.9736842105263158]

In [208]:
res = pd.DataFrame(res, index=np.arange(5, 20), columns=['Accuracy'])

In [210]:
res[res['Accuracy'] ==res['Accuracy'].max()]

    Accuracy
7   0.982456
11  0.982456
14  0.982456
16  0.982456

In [211]:
model = MLPClassifier(hidden_layer_sizes=(7, 2), activation='relu', max_iter=1000)
model.fit(X_train, y_train)

/opt/anaconda3/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPClassifier(hidden_layer_sizes=(7, 2), max_iter=1000)

In [214]:
weights = pd.DataFrame(model.coefs_)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/internals/construction.py:309: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

In [215]:
weights.to_csv('assig_7_ann_q6_weights.csv')